.history{
	background-color:yellow;
	border: 1px solid #666;
}
.history:hover{
	background-color:red;
	border: 4px solid #666;
}
.active{
	background-color:red;
	border: 4px solid #666;
}
Canvas:active{
	cursor:crosshair;
}
.scroll{
	overflow:scroll;
}