.history {
	background-color: yellow;
	border: 1px solid #666;
}

.histInline {
	left: 20px;
	bottom: 10px;
	top: 10px;
	position: relative;
	height: 100%;
}

.history:hover {
	background-color: red;
	border: 4px solid #666;
}

.active {
	background-color: red;
	border: 4px solid #666;
}

.animated{
	background-color: #00ff00;
	border: 4px solid #666;
}

body {
	background-color: white;
}

Canvas:active {
	cursor: crosshair;
}

.scroll {
	overflow: scroll;
}

.start {
	position: fixed;
	background-color: grey;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	visibility: visible;
	overflow: visible;
	z-index: 10;
}

.normal {
	position: relative;
	top: 30%;
	left: 0px;
	background-color: white;
	text-align: center;
}

.chat {
	left: 0px;
	top: 0px;
	height: 100%;
	width: 300px;
	max-width: 300px;
	position: absolute;
	border-right: 4px;
	border-right-style: solid;
	color: black;
}

.loginbutton {
	left: 50%;
	position: relative;
}

.chatIntern {
	padding-top: 50px;
	padding-left: 50px;
}

input[type="color"] {
	min-width: 70px;
	height: 50px;
	background-color: white;
}

.button {
	float: left;
	min-width: 70px;
	height: 50px;
	color: aqua;
}

.button:hover {
	float: left;
	min-width: 70px;
	height: 50px;
	color: aqua;
	border: 4px solid grey;
}

.hist {
	left:1220px;
	top: 0px;
	height: 100%;
	width: 600px;
	position: absolute;
	border-left: 4px;
	border-left-style: solid;
}

.log {
	bottom: 10px;
	position: absolute;
	top: 60px;
}

.bord {
	text-align: center;
	align-items: center;
	left: 309px;
	top: 0px;
	height: 100px;
	width: 900px;
	max-width: 900px;
	position: absolute;
	border-bottom: 4px;
	border-bottom-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	z-index: 5;
}

.canvasDiv{
	width: 800px;
	height: 800px;
	position: absolute;
	top: 120px;
	left: 350px;	
}

.menu {
	top: 25%;
	left: 25%;
	position: relative;
}

div {
	background-color: white;
}

.canvas {
	border: 1px;
	border-style: solid;
	border-color: green;
}