.history{
	background-color:yellow;
	border: 1px solid #666;
}
.history:hover{
	background-color:red;
	border: 4px solid #666;
}
.active{
	background-color:red;
	border: 4px solid #666;
}
Canvas:active{
	cursor:crosshair;
}
.scroll{
	overflow:scroll;
}
.start{
	position: absolute;
	background-color:grey;
	left: 9px; 
	top: 9px;
	width: 1400px;
	height: 1200px;
	visibility: visible;
}
.normal{
	background-color:white;
	
}